<div class="page-wrapper">

  <!-- Menu Sidebar-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.gif" alt="hb-shop" class="img-responsive">
      </a>
    </div>
    <app-product-category-menu></app-product-category-menu>
    
  </aside>

  <!-- Header Desktop-->
  <div class="page-container">
    <!-- Header Desktop-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" onsubmit="return false;" method="GET">
              <input type="text" class="au-input au-input-xl" name="search" placeholder="Search for data..."/>
              <button class="au-btn-submit" type="submit">
                Search
              </button>
            </form>

            <div class="cart-area d-n">
              <a href="shopping-detail.html">
                <div class="total">19.22 <span>2</span></div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>

    <!--Main Content-->
    <router-outlet></router-outlet>
    
    <!-- <app-product-list></app-product-list> -->
  </div>
</div>


<!--End Page Container-->
<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>

</footer>



